body{
  margin:0; 
  font-size: 0px;
}
/* board start*/
#main {
  width: 100%;
  display: flex; 
}
#menue {
  float: left;
  background-color: white;
  width: 350px;
  height: 100vh;
}
#middle{

  display: flex;
  height: 100vh;
  background-color: white;
}
#end {
  float: right;
  background-color: yellow;
  position: absolute;
  right: 0px;
  width: 200px; 
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: center;
}
.tool{
  width: 100px;
  height: 100px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  border:  1px solid black;
  cursor: pointer; 
}
#new-game, #instructions{
  font-family: 'Press Start 2P', cursive;
  font-size: 11px;
  border-style: none;
  padding: 7px 7px;
  margin: 10px auto;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  box-shadow: 4px 4px 4px #888888;
}
#new-game:hover{
  background-color: #c9c8c8;
}
#instructions:hover{
  background-color: #c9c8c8;
}
.changeToolColor{
  border: 3px solid green;
}
.changeToolColorToRed{
    animation: wrong 0.5s 1;
}

@keyframes wrong
{
    0%      {background:none;}
    25%     {background:red;}
    75%     {background:red;}
    100%    {background:none;}
}
/* board end*/

/* tools start */
#pickaxe{
  background-image: url("../images/pickaxe.jpg");
  background-position: cover;
  background-repeat: no-repeat;
  background-size: cover;
}
#axe{
  background-image: url("../images/axe.jpg");
  background-position: cover;
  background-repeat: no-repeat;
  background-size: cover;
}
#shovel{
  background-image: url("../images/shovel.jpg");
  background-position: cover;
  background-repeat: no-repeat;
  background-size: cover;
}
#inventory{
  width: 50px;
  height: 50px;
  margin-top: 20px; 
  margin-left: auto;
  margin-right: auto;
  border:  1px solid black;
  cursor: pointer; 
}
#boardArray {
  font-size: 0px;
  margin: 0px;
  width: 620px;
  height: 575px;
}
.newDiv {
  width: 20px;
  height: 18.5px;
  background-color: skyblue;
  display: inline-block;
  font-size: 10px;
}
/* board end*/

/* tiles start */
.sun {
  background-color: yellow;
}
.cloud {
  background-color: white;
}
.sky{
  background-color: skyblue;
}
.wood{
  background-image: url("../images/wood.jpg");
}
.trunk{
  background-image: url("../images/trunk.jpg");
}
.stone{
  background-image: url("../images/stone.jpg");
}
.dirt{
  background-image: url("../images/dirt.jpg");
}
.dirt-with-grass{
  background-image: url("../images/dirt-with-grass.jpg");
}
/* tiles end */


/* modal start */
.modal img {
  width: 400px;
}
.modal-dialog{
  position: absolute;
  margin: 0px 0px;
  width: calc(100vw - 200px);
  height: 100vh;
  overflow-y: auto;
}
.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 130px;
  font-family: 'Press Start 2P', cursive;
  color: white;
  border-style: none;
  background-image: url("../images/bg-big.png");
}
.modal-content p {
  padding: 70px 70px;
  font-size: 11px;
  line-height: 26px;
}
.modal-content .modal-footer button {
  position: absolute;
  bottom: 10px;
  color: white;
  border-style: none;
}
.modal.fade{
  border-radius: 5px;
}
.close {
  position: absolute;
  right: 10px;
  top: 10px;
}
.start{
  position: absolute;
  bottom: 150px;
  background: white;
  height: 50px;
  width: 100px;
  border-radius: 3px;
  border-style: none;
  color: black;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
.start:hover{
  background-color: #c9c8c8;
}
@media (min-width: 768px){
.modal-dialog.new{
  width: calc(100vw - 200px);
  margin: 0px 0px;
  }
}
/* modal end */